// HEADER
.container__navbar{
  background-color: $secondary-color;
  &__navbar{
    @include flex(row, space-between, center, no-wrap);
    padding: 10px;
    font-size: 20px;
    &__logo{
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      color: $text-color-2;
      font-weight: bold;
      text-transform: uppercase;
      }
    .toggleBtn{
      display: none;
    }
  }
}