// HEADER
.container__navbar{
  background-color: $secondary-color;
  &__navbar{
    @include flex(row, space-between, center, no-wrap);
    padding: 10px;
    font-size: 20px;
    &__logo{
      display: flex;
      align-items: center;
    }
    .toggleBtn{
      display: none;
    }
  }
}