  // INPUT WRITE
  .container__input{
    display: flex;
    justify-content: center;
    &__input{
      position: fixed;
      bottom: 34px;
      input{
        width: 520px;
        padding: 20px 20px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: white;
      }
      ::placeholder{
        font-size: 15px;
      }
      button{
        outline: none;
        border: none;
        margin-left: 1rem;
        padding: 10px;
        border-radius: 50%;
        background-color: $blue-color;
        color: $primary-color;
        font-size: 20px;
      }
    }
  }