// VIEW BOT
.container__bot{
  width: 400px;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  .bot__list{
    @include flex(column, center, no-wrap);
    padding: 20px 10px;
    gap: 20px;
    .galery{
      display: none;
    }
    &__item{
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px;
      background-color: $primary-color;
      border-radius: 10px;
      transition: .2s ease-in;
      &:hover{
        background-color: $blue-color;
        color: $primary-color;
        .__description__bot__name{
          color: white;
      }
    }
      img{
        border-radius: 50%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      .__description {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        &__bot__name{
          color: $text-primary;
          font-size: 16.5px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        &__bot__message{
          font-weight: 300;
          font-style: italic;
        }
      }
    }
  }
}