@charset "utf-8";
// COLORS
$secondary-color: #3c3936;

*{
  margin: 0;
  padding: 0;
}

// STYLE
span{
  color: $secondary-color;
}
article{
  overflow-y: auto;
  height: calc(100vh - 170px);
}
.textarea{
  height: 95%;
}